<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joe.mathbuddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassesScreenTeacher"
            android:label="Classes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ClassPopUp"
            android:theme="@style/AppTheme.CustomThemePopUp" />
        <activity android:name=".IndividualClassScreenTeacher" />
        <activity
            android:name=".ClassNameNullError"
            android:theme="@style/AppTheme.CustomThemeClassNameErrorPopUp" />
        <activity android:name=".CreateActivityTeacher" />
        <activity android:name=".StudentGradeTeacherView" />
        <activity
            android:name=".QuizGrade"
            android:theme="@style/AppTheme.CustomThemePopUpQuizGrade" />
        <activity android:name=".ClassesScreenStudent"></activity>
        <activity android:name=".IndividualClassScreenStudent" />
        <activity
            android:name=".AttemptQuizPopUp"
            android:theme="@style/AppTheme.CustomThemePopUpQuizGrade" />
        <activity android:name=".CreateActivitySGL" />
        <activity
            android:name=".AddStudentPopUp"
            android:theme="@style/AppTheme.CustomThemePopUpAddStudent" />
        <activity android:name=".QuizScreen" />
        <activity android:name=".ResultScreen" />
        <activity
            android:name=".CreateQuizError"
            android:theme="@style/AppTheme.CustomThemePopUpCreateQuizError" />
        <activity android:name=".Login2" />
        <activity
            android:name=".RemoveStudentPopUp"
            android:theme="@style/AppTheme.CustomThemePopUpRemoveStudent" />
        <activity android:name=".QuizGadesScreenSGL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizScreenSGL"></activity>
    </application>

</manifest>